@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/Content/Pics/Logo.jpeg")" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-3.6.0.min.js")
    @Scripts.Render("~/Scripts/Chart.min.js")
    @Scripts.Render("~/Scripts/Common.js")
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        @@import url('https://fonts.googleapis.com/css?family=Roboto');

        body {
            font-family: 'Roboto', sans-serif;
        }

        * {
            margin: 0;
            padding: 0;
        }

        i {
            margin-right: 10px;
        }
        /*----------bootstrap-navbar-css------------*/
        .navbar-logo {
            padding: 15px;
            color: #fff;
        }

        .navbar-mainbg {
            background-color: #5161ce;
            padding: 0px;
        }

        #navbarSupportedContent {
            overflow: hidden;
            position: relative;
        }

            #navbarSupportedContent ul {
                padding: 0px;
                margin: 0px;
            }

                #navbarSupportedContent ul li a i {
                    margin-right: 10px;
                }

            #navbarSupportedContent li {
                list-style-type: none;
                float: left;
            }

            #navbarSupportedContent ul li a {
                color: rgba(255,255,255,0.5);
                text-decoration: none;
                font-size: 15px;
                display: block;
                padding: 20px 20px;
                transition-duration: 0.6s;
                transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
                position: relative;
            }

            #navbarSupportedContent > ul > li.active > a {
                color: #5161ce;
                background-color: transparent;
                transition: all 0.7s;
            }

            #navbarSupportedContent a:not(:only-child):after {
                content: "\f105";
                position: absolute;
                right: 20px;
                top: 10px;
                font-size: 14px;
                font-family: "Font Awesome 5 Free";
                display: inline-block;
                padding-right: 3px;
                vertical-align: middle;
                font-weight: 900;
                transition: 0.5s;
            }

            #navbarSupportedContent .active > a:not(:only-child):after {
                transform: rotate(90deg);
            }

        .hori-selector {
            display: inline-block;
            position: absolute;
            height: 100%;
            top: 0px;
            left: 0px;
            transition-duration: 0.6s;
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            background-color: #fff;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            margin-top: 10px;
        }

            .hori-selector .right,
            .hori-selector .left {
                position: absolute;
                width: 25px;
                height: 25px;
                background-color: #fff;
                bottom: 10px;
            }

            .hori-selector .right {
                right: -25px;
            }

            .hori-selector .left {
                left: -25px;
            }

                .hori-selector .right:before,
                .hori-selector .left:before {
                    content: '';
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: #5161ce;
                }

            .hori-selector .right:before {
                bottom: 0;
                right: -25px;
            }

            .hori-selector .left:before {
                bottom: 0;
                left: -25px;
            }


        @@media(min-width: 992px) {
            .navbar-expand-custom {
                -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
                -ms-flex-pack: start;
                justify-content: flex-start;
            }

                .navbar-expand-custom .navbar-nav {
                    -ms-flex-direction: row;
                    flex-direction: row;
                }

                .navbar-expand-custom .navbar-toggler {
                    display: none;
                }

                .navbar-expand-custom .navbar-collapse {
                    display: -ms-flexbox !important;
                    display: flex !important;
                    -ms-flex-preferred-size: auto;
                    flex-basis: auto;
                }
        }


        @@media (max-width: 991px) {
            #navbarSupportedContent ul li a {
                padding: 12px 30px;
            }

            .hori-selector {
                margin-top: 0px;
                margin-left: 10px;
                border-radius: 0;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
            }

                .hori-selector .left,
                .hori-selector .right {
                    right: 10px;
                }

                .hori-selector .left {
                    top: -25px;
                    left: auto;
                }

                .hori-selector .right {
                    bottom: -25px;
                }

                .hori-selector .left:before {
                    left: -25px;
                    top: -25px;
                }

                .hori-selector .right:before {
                    bottom: -25px;
                    left: -25px;
                }
        }
    </style>
    <script>
        function printContent(el) {
            var restorepage = $('body').html();
            var printcontent = $('#' + el);
            $('body').empty().html(printcontent);
            window.print();
            $('body').html(restorepage);
        }
    </script>
</head>
<body>
    <div class="bs-example">
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <a class="navbar-brand navbar-logo" href="#">
                <img height="100" width="100" src="~/Content/Pics/Engen_express.jpeg" style="border-radius:20px" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector">
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link" href="/Home/Admin"><i class="fas fa-home"></i>Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/orders/Index"><i class="fas fa-clipboard-list"></i>Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/supplier_order/index"><i class="fas fa-truck-loading"></i>Supplier Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products/Index"><i class="far fa-boxes"></i>Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/product_type/Index"><i class="far fa-boxes"></i>Product Types</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/product_category/Index"><i class="far fa-boxes"></i>Product Categories</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/suppliers/Index"><i class="far fa-address-book"></i>Suppliers</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/stocks/Index"><i class="far fa-address-book"></i>Stock</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/employees/Index"><i class="far fa-address-book"></i>Employees</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/customers/Index"><i class="fas fa-user"></i>Customers</a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link" href="/user_role/Index"><i class="far fa-address-book"></i>User Roles</a>
                            </li>



                            <li class="nav-item">
                                <a class="nav-link" href="/Reports/Index"><i class="fas fa-truck-loading"></i>Reports</a>
                            </li>

                        }
                        if (User.IsInRole("Cashier"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link" href="/Home/Cashier"><i class="fas fa-home"></i>Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/customers/Index"><i class="fas fa-user"></i>Customers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/orders/Index"><i class="fas fa-clipboard-list"></i>Orders</a>
                            </li>
                        }
                        if (User.IsInRole("Driver"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link" href="/Home/Driver"><i class="fas fa-home"></i>Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/orders/Index"><i class="fas fa-clipboard-list"></i>Orders</a>
                            </li>
                        }
                        if (User.IsInRole("Clerk"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link" href="/Home/Clerk"><i class="fas fa-home"></i>Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/orders/Index"><i class="fas fa-clipboard-list"></i>Orders</a>
                            </li>
                        }
                        if (User.IsInRole("Customer"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link" href="/Home/Customer"><i class="fas fa-home"></i>Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/home/index"><i class="fas fa-home"></i></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/carts/index">
                                    <i class="far fa-shopping-cart"></i><span>
                                        @if (ViewBag.Count != null)
                                        {
                                            <sup class="sup">@ViewBag.Count</sup>
                                        }
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/orders/Index"><i class="fas fa-clipboard-list"></i>Orders</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/home/index"><i class="fas fa-home"></i></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/carts/index">
                                <i class="far fa-shopping-cart"></i><span>
                                    @if (ViewBag.Count != null)
                                    {
                                        <sup class="sup">@ViewBag.Count</sup>
                                    }
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/help/index"><i class="far fa-question"></i>Help</a>
                        </li>
                    }

                </ul>
            </div>
            @Html.Partial("_LoginPartial")
        </nav>
        <hr style="color:black;border:1px solid " />
    </div>
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        // ---------Responsive-navbar-active-animation-----------
        function test() {
            var tabsNewAnim = $('#navbarSupportedContent');
            var selectorNewAnim = $('#navbarSupportedContent').find('li').length;
            var activeItemNewAnim = tabsNewAnim.find('.active');
            var activeWidthNewAnimHeight = activeItemNewAnim.innerHeight();
            var activeWidthNewAnimWidth = activeItemNewAnim.innerWidth();
            var itemPosNewAnimTop = activeItemNewAnim.position();
            var itemPosNewAnimLeft = activeItemNewAnim.position();
            $(".hori-selector").css({
                "top": itemPosNewAnimTop.top + "px",
                "left": itemPosNewAnimLeft.left + "px",
                "height": activeWidthNewAnimHeight + "px",
                "width": activeWidthNewAnimWidth + "px"
            });
            $("#navbarSupportedContent").on("click", "li", function (e) {
                $('#navbarSupportedContent ul li').removeClass("active");
                $(this).addClass('active');
                var activeWidthNewAnimHeight = $(this).innerHeight();
                var activeWidthNewAnimWidth = $(this).innerWidth();
                var itemPosNewAnimTop = $(this).position();
                var itemPosNewAnimLeft = $(this).position();
                $(".hori-selector").css({
                    "top": itemPosNewAnimTop.top + "px",
                    "left": itemPosNewAnimLeft.left + "px",
                    "height": activeWidthNewAnimHeight + "px",
                    "width": activeWidthNewAnimWidth + "px"
                });
            });
        }
        $(document).ready(function () {
            setTimeout(function () { test(); });
        });
        $(window).on('resize', function () {
            setTimeout(function () { test(); }, 500);
        });
        $(".navbar-toggler").click(function () {
            $(".navbar-collapse").slideToggle(300);
            setTimeout(function () { test(); });
        });


        // --------------add active class-on another-page move----------
        jQuery(document).ready(function ($) {
            // Account for home page with empty path
            var path = window.location.pathname.split("/");
            var p = "/" + path[1] + "/" + path[2];
            if (p == '//undefined' || p == '/Home/Index') {
                p = '/home/index';
            }
            if (p == '/Carts/undefined' || p == '/Carts/Index' || p == '/Carts/Checkout') {
                p = '/carts/index';
            }
            debugger;

            var target = $('#navbarSupportedContent ul li a[href="' + p + '"]');
            target.parent().addClass('active');
        });
    </script>

    <link rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" src="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" />
    <script type="text/javascript" language="javascript" src=" https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

   
    

    <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            var table = $('#tbl').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                initComplete: function () {
                    var api = this.api();

                    // For each column
                    api
                        .columns()
                        .eq(0)
                        .each(function (colIdx) {
                            // Set the header cell to contain the input element
                            var cell = $('.filters th').eq(
                                $(api.column(colIdx).header()).index()
                            );
                            var title = $(cell).text();
                            $(cell).html('<input type="text" placeholder="' + title + '" />');

                            // On every keypress in this input
                            $(
                                'input',
                                $('.filters th').eq($(api.column(colIdx).header()).index())
                            )
                                .off('keyup change')
                                .on('keyup change', function (e) {
                                    e.stopPropagation();

                                    // Get the search value
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                    var cursorPosition = this.selectionStart;
                                    // Search the column for that value
                                    api
                                        .column(colIdx)
                                        .search(
                                            this.value != ''
                                                ? regexr.replace('{search}', '(((' + this.value + ')))')
                                                : '',
                                            this.value != '',
                                            this.value == ''
                                        )
                                        .draw();

                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                });
                        });
                },
            });
        });
    </script>




</body>
</html>
