@model IEnumerable<EnginX.Models.Product>

@{
    ViewBag.Title = "Index";
}


<h2 class="mb-5">Products</h2>
<div class="row">
    <div class="col">
        <div class="cardsss shadow">
            <div class="cardsss-header border-0">
                <h3 class="mb-0">Store Products</h3>
            </div>
            <div class="table-responsive">
                <table id="tbl" class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Stock Available</th>
                            <th scope="col">Product Type</th>
                            <th scope="col">Quantity Avaliable</th>
                            <th></th>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                        <tr>
                            <th scope="row">
                                <div class="media align-items-center">
                                    <a href="#" class="avatar rounded-circle mr-3">
                                        @if (product.Image != null)
                                        {
                                            <img alt="Image placeholder" src="@Url.Content(product.Image)">
                                        }
                                        else
                                        {
                                            <img alt="Image placeholder" src="~/Content/Pics/user.png">
                                        }
                                    </a>
                                    <div class="media-body">
                                        <span class="mb-0 text-sm"> @product.ProductName</span>
                                    </div>
                                </div>
                            </th>
                            <td>
                                @if (product.InStock == true)
                                {
                                    <span class="badge badge-dot mr-4" style="color:black">
                                        <i class="bg-success"></i> Stock Available
                                    </span>
                                }
                                else
                                {
                                    <span class="badge badge-dot mr-4">
                                        <i class="bg-danger"></i> Out Of Stock
                                    </span>
                                }
                            </td>
                            <td>
                                @product.Product_Type.Description
                            </td>
                            <td>
                                @product.Stock.Quantity
                            </td>

                            <td class="text-right">

                                <div class="btn-group dropdown-menu-end">
                                    <button class="btn btn-sm btn-icon-only text-dark" role="button" onclick="window.location.href = '@Url.Action("Edit","Products",new {id = product.ProductID })'">
                                        <i class="fas fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-sm btn-icon-only text-primary" role="button" onclick="window.location.href = '@Url.Action("Details","Products",new { id = product.ProductID })'">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                    <button class="btn btn-sm btn-icon-only text-success" role="button" onclick="window.location.href = '@Url.Action("Delete","Products",new { id = product.ProductID })'">
                                        <i class="fas fa-trash"></i>
                                    </button>

                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />