@model IEnumerable<EnginX.Models.Customer>

@{
    ViewBag.Title = "CustomersReport";
    EnginX.Models.Infinity_DbEntities db = new EnginX.Models.Infinity_DbEntities();

}

<h2> Customers Report</h2>


<table class="table table-dark table-striped" id="simple_table">
    <tr>
        <th>
            Customer
        </th>
        <th>
            Address
        </th>
        <th>
            Total Orders
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.User.Name  @item.User.Surname
    </td>
    <td>
        @item.Address.HouseNumber @item.Address.StreetName  @item.Address.City.Province.Name - @item.Address.City.Name
    </td>
    <td>
        @db.Orders.Where(x => x.CustomerID == item.CustomerID).Count()
    </td>
</tr>
    }

</table>
<br />
<button type="button" class="btn btn-lg tbcolor" onclick="generate()" > Export To PDF </button>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
    <script type="text/javascript">
        function generate() {
            var doc = new jsPDF('p', 'pt', 'letter');
            var htmlstring = '';
            var tempVarToCheckPageHeight = 0;
            var pageHeight = 0;
            pageHeight = doc.internal.pageSize.height;
            specialElementHandlers = {
                // element with id of "bypass" - jQuery style selector
                '#bypassme': function (element, renderer) {
                    // true = "handled elsewhere, bypass text extraction"
                    return true
                }
            };
            margins = {
                top: 150,
                bottom: 60,
                left: 40,
                right: 40,
                width: 600
            };
            var y = 20;
            doc.setLineWidth(2);
            doc.text(200, y = y + 30, "Customer Order Totals");
            doc.autoTable({
                html: '#simple_table',
                startY: 70,
                theme: 'grid',
                columnStyles: {
                    0: {
                        cellWidth: 180,
                    },
                    1: {
                        cellWidth: 180,
                    },
                    2: {
                        cellWidth: 180,
                    }
                },
                styles: {
                    minCellHeight: 40
                }
            })
            doc.save('CustomerReport.pdf');
        }
    </script>
}