@model IEnumerable<EnginX.Models.Supplier_Order>

@{
    ViewBag.Title = "Index";
}

<h2 class="mb-5">Supplier Orders</h2>
<div class="row">
    <div class="col">
        <div class="cardsss shadow">
            <div class="cardsss-header border-0">
                <h3 class="mb-0">Orders</h3>
            </div>
            <div class="table-responsive">
                <table id="tbl" class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Customer</th>
                            <th scope="col">Order Number</th>
                            <th scope="col">Date Placed</th>
                            <th scope="col">Order Status</th>
                            <th></th>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                        <tr>
                            <th scope="row">
                                <div class="media align-items-center">
                                    <a href="#" class="avatar rounded-circle mr-3">
                                        @if (order.Supplier.logoimg != null)
                                        {
                                            <img alt="Image placeholder" src="@Url.Content(order.Supplier.logoimg)">
                                        }
                                        else
                                        {
                                            <img alt="Image placeholder" src="~/Content/Pics/user.png">
                                        }
                                    </a>
                                    <div class="media-body">
                                        <span class="mb-0 text-sm"> @order.Supplier.CompanyName - @order.Supplier.CompanyName </span>
                                    </div>
                                </div>
                            </th>
                            <td>
                                @order.SupplierOrderDate.ToShortDateString();
                            </td>
                            <td>
                                @order.SupplierOrderDescription
                            </td>
                            <td>
                                @order.SupplierOrderQuantity
                            </td>
                            <td>
                                @order.SupplierOrderNote
                            </td>
                            <td>
                                @if (order.SOStatusID == 1)
                                {
                                    <span class="badge badge-dot mr-4" style="color:black">
                                        <i class="bg-primary"></i> @order.Supplier_Order_Status.SOStatusDescription
                                    </span>
                                }
                                else if (order.SOStatusID == 2)
                                {
                                  <span class="badge badge-dot mr-4">
                                      <i class="bg-info"></i>  @order.Supplier_Order_Status.SOStatusDescription
                                  </span>
                                }
                                else if (order.SOStatusID == 3)
                                {
                                     <span class="badge badge-dot mr-4">
                                         <i class="bg-success"></i>  @order.Supplier_Order_Status.SOStatusDescription
                                      </span>
                                }
                                else
                                {
                                  <span class="badge badge-dot mr-4">
                                   <i class="bg-danger"></i>  @order.Supplier_Order_Status.SOStatusDescription
                                   </span>
                                }

                            </td>
                            <td class="text-right">
                                <div class="btn-group dropdown-menu-end">
                                    <button class="btn btn-sm btn-icon-only text-dark" role="button" onclick="window.location.href = '@Url.Action("Edit","Supplier_Orders",new {id = order.SupplierOrderID })'">
                                        <i class="fas fa-pencil"></i>
                                        Update Order
                                    </button>
                                    <button class="btn btn-sm btn-icon-only text-primary" role="button" onclick="window.location.href = '@Url.Action("Details","Supplier_Orders",new {id = order.SupplierOrderID })'">
                                        <i class="fas fa-eye"></i>
                                        View Order Details
                                    </button>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>